
/*General*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(230, 226, 226);
}

footer{
    padding: 10px;
    margin-top: 50px;
    color:white;
    text-align: center;
    font-size: 14px;
    background-color: rgb(193, 161, 223);
    box-shadow: 0 0 10px slateblue;
}

input{
    font-size:14px;
    color:blue;
    padding: 5px;
    width:80%;
    text-align: center;
    margin:auto;
}

.container {
    width: 100%;
    max-width: auto;
    margin: auto; 
}


/* Pantalla Login */

.warp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    margin:auto;
}

.form-input{
    background: white;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
    align-items: center;
}

.form-group{
    margin-bottom: 1rem;
}
    
h2{
    text-align: center;
    font-size: 30px;
}

.form_login{
    width: 550px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #ffffff;
    box-shadow: 0 0 20px slateblue;
    border-radius: 10px;
}

.boton_login{
    width: 100%;
    background-color: blue;
    color:white;
    height: 50px;
    
}

/* Menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(193, 161, 223);
    position: fixed;
    top: 10px;
    width: 99%;
    box-shadow: 0 0 20px slateblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: slateblue;
    position: relative;
    position: right;
   
  }

/* Formato tabla*/

#user{
    font-size: 10px;
    color:blue;
}
.table , .table2 {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout:fixed;
}

.table caption , .table2 caption{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
    padding-top: 70px;
}

.table tr, .table2 tr  {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th, .table td ,.table2 th, .table2 td {
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.table thead th, .table2 thead th , .ficha{ 
    text-transform: uppercase;
    background-color:rgb(193, 161, 223);
    color:white;
    text-align: center;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.lavados{
    width:50px;
    height:30px;
    background-color: slateblue;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:20px;
    line-height:32px;
    text-transform: uppercase;
    text-align: center;
    float:center;
  }
  .lavados:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .lavados a {
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }

/*App en móvil*/

@media screen and (max-width: 1000px) {
   
    .container {
        margin-top: 10px;    
    }
     
    ul {
        width: 95%;
    }

    /* Botones*/
    button{
        font-size: 110%;
        width: 100%;
        height: 50px;
        border:none;  
    }

    .boton_submit {
        background-color:yellowgreen;
    }

    .boton_cancel {
        background-color:grey;
    }

    .boton_eliminar {
        background-color:red;
    }
 
    /*Tabla*/
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    
    .table tr {
        margin-bottom: 15px;
        border: 1px solid black;
        box-shadow: 0 0 10px slateblue;
        border-radius: 10px;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
        
    }

    .table th {
        font-size:110%;
        display: flex;
        border-radius: 10px;
        margin:2px;
        text-align: center;
        
    }

    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: center;
        font-size: 150%;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    } 

}

/*Menu login en móviles*/

@media (max-width:1000px) {

   
    .form_login{
        width: 800px;
        margin: 0 auto;
      
    }


   .form-group{
       font-size:40px;
       padding: 10px;
   }

   .form-input{
       width: 100%;
       height: 12%;
       font-size: 40px;
   }

   .boton_login{
       height: 90px;
   }
   h2{
       font-size:50px;
   }
}